{% extends "base.html" %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="color-green pull-left">出错了</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid page-404">
    	<p><i>500</i> <span>服务器出错了，请稍后再试</span></p>
    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}