{% load dajaxice_templatetags %}
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  

{% load staticfiles %}
<head>
    <title>{% block title %}金榜考研 | 欢迎您...{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="baidu_union_verify" content="437d53c560d6a2e2f24340c17e0c7e7a">
	<link rel="shortcut icon" href="{% static 'schools/favicon.png' %}" />   
	{% block link %}
		<!-- CSS Global Compulsory-->
    	<link rel="stylesheet" href="{% static 'schools/assets/plugins/bootstrap/css/bootstrap.min.css' %}" />
    	<link rel="stylesheet" href="{% static 'schools/assets/css/style.css' %}" />
    	<link rel="stylesheet" href="{% static 'schools/assets/css/headers/header2.css' %}"" />
    	<link rel="stylesheet" href="{% static 'schools/assets/plugins/bootstrap/css/bootstrap-responsive.min.css' %}" />
    	<link rel="stylesheet" href="{% static 'schools/assets/css/style_responsive.css' %}" />     
    	<!-- CSS Implementing Plugins -->    
    	<link rel="stylesheet" href="{% static 'schools/assets/plugins/font-awesome/css/font-awesome.css' %}" />
    	<link rel="stylesheet" href="{% static 'schools/assets/plugins/flexslider/flexslider.css' %}" type="text/css" media="screen" />      
    	<link rel="stylesheet" href="{% static 'schools/assets/plugins/parallax-slider/css/parallax-slider.css' %}" type="text/css" />
    	<link rel="stylesheet" href="{% static 'schools/assets/plugins/bxslider/jquery.bxslider.css' %}" />
    	<!-- CSS Theme -->    
    	<link rel="stylesheet" href="{% static 'schools/assets/css/themes/default.css' %}" id="style_color" />
    	<link rel="stylesheet" href="{% static 'schools/assets/css/themes/headers/default.css' %}" id="style_color-header-2" />
	{% endblock %}
 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head> 

<body>
<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="/"><img id="logo-header" src="{% static 'schools/assets/img/logo2-default.png' %}" alt="Logo" /></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav">
                        <li class="active">
                            <a href="/">首页                          
                            </a>                       
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" id="school_menu">学校
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                            	{% for school in schools %}
                            		<li><a href="/school/?sid={{ school.id }}">{{ school.name }}</a></li>
                            	{% endfor %}
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <!--
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">专业
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                            {% for major in majors %}
                            		<li><a href="#">{{ major.name }}</a></li>
                            	{% endfor %}
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        -->
                        <li><a class="search search-nav"><i class="icon-search search-btn"></i></a></li>                                
                    </ul>
                    <div class="search-open search-open-inner">
                        <div class="input-append">
                            <form action="/search"  method="get" />
                                <input name="q" type="text" class="span3" placeholder="请输入你要搜索的内容" />
                                <button type="submit" class="btn-u">搜索</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->

{% block content %}{% endblock %}

<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
                <!-- About -->
		        <div class="headline"><h3>关于我们</h3></div>	
				<p class="margin-bottom-25">金榜考研专营主专业课真题，解析，笔记和售后服务，详情请进入<a href="http://kknet.taobao.com/shop/view_shop.htm?spm=a1z0k.7386009.1997989141.d4915209.q949pU&shop_id=69324846"  target="_blank">淘宝店铺</a>查看</p>	
						
			</div><!--/span4-->	
			
			<div class="span4">
                <div class="posts">
                    <div class="headline"><h3>最新考研资料</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="http://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-2292841072.9.IkPVbW&id=45677079833" target="_blank"><img src="http://gd1.alicdn.com/bao/uploaded/i1/TB1658HIXXXXXc1XpXXXXXXXXXX_!!0-item_pic.jpg_50x50.jpg" /></a></dt>
                        <dd>
                            <p><a href="http://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-2292841072.9.IkPVbW&id=45677079833" target="_blank">2016武汉大学数学专业高代数学分析考研真题答案金榜考研资料</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="http://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-2292841072.11.1K88Qc&id=45677563148" target="_blank"><img src="http://gd4.alicdn.com/bao/uploaded/i4/TB1nGNFIXXXXXXNXFXXXXXXXXXX_!!0-item_pic.jpg_50x50.jpg" /></a></dt>
                        <dd>
                            <p><a href="http://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-2292841072.11.1K88Qc&id=45677563148" target="_blank">2016中山大学数学专业高代数学分析考研真题答案金榜考研资料</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="http://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-2292841072.5.1K88Qc&id=44164122190" target="_blank"><img src="http://gd1.alicdn.com/bao/uploaded/http://gtu-c01.m.alicdn.com/1/1/538334725/14725028347661704/T2AOBtXrXaXXXXXXXX_!!538334725.jpg_50x50.jpg" /></a></dt>
                        <dd>
                            <p><a href="http://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-2292841072.5.1K88Qc&id=44164122190" target="_blank">2016深圳大学计算机数据结构与算法考研初试资料考考网书籍教材</a></p> 
                        </dd>
                    </dl>
                </div>
			</div><!--/span4-->

			<div class="span4">
	            <!-- Monthly Newsletter -->
		        <div class="headline"><h3>联系我们</h3></div>	
                <address>
					深圳大学经济学QQ群: 364349589 <br />
					深圳大学新闻传播QQ群: 467542968 <br />
					深圳大学建筑学QQ群: 375780567 <br />
					深圳大学计算机与软件学院QQ群: 246136725 <br />
					官方QQ: 1027509234 <br />
					淘宝店铺: <a href="http://kknet.taobao.com/shop/view_shop.htm?spm=a1z0k.7386009.1997989141.d4915209.q949pU&shop_id=69324846"  target="_blank">进入</a><br />
					Email: <a href="mailto:tcake@tcake.me" class="">tcake@tcake.me</a>
                </address>
			</div><!--/span4-->
		</div><!--/row-fluid-->	
	</div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row-fluid">
			<div class="span8">						
	            <p>Copyright &copy; 2015.JB361.cn All rights reserved.小豆芽版权所有 <span><a href="http://gdcainfo.miitbeian.gov.cn/state/outPortal/loginPortal.action#" target="_blank">ICP证：粤ICP备15050511号</a></span></p>
			</div>
			<div class="span4">	
                <a href="/"><img id="logo-footer" src="{% static 'schools/assets/img/logo2-default.png' %}" class="pull-right" alt="" /></a>
			</div>
		</div><!--/row-fluid-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

{% block load_js_script %}
	<!-- JS Global Compulsory -->           
	<script type="text/javascript" src="{% static 'schools/assets/js/jquery-1.8.2.min.js'%} "></script>
	<script type="text/javascript" src="{% static 'schools/assets/js/modernizr.custom.js' %}"></script>        
	<script type="text/javascript" src="{% static 'schools/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
	<!-- JS Implementing Plugins -->           
	<script type="text/javascript" src="{% static 'schools/assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'schools/assets/plugins/parallax-slider/js/modernizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'schools/assets/plugins/parallax-slider/js/jquery.cslider.js' %}"></script> 
	<script type="text/javascript" src="{% static 'schools/assets/plugins/bxslider/jquery.bxslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'schools/assets/plugins/back-to-top.js' %}"></script>
	<!-- JS Page Level -->           
	<script type="text/javascript" src="{% static 'schools/assets/js/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'schools/assets/js/pages/index.js' %}"></script>
	<script type="text/javascript">
    	jQuery(document).ready(function() {
        	App.init();
        	App.initSliders();
        	App.initBxSlider1();
        	Index.initParallaxSlider();
    	});
	</script>
{% endblock %}
{% dajaxice_js_import 'nocsrf' %}
<script type="text/javascript" src="{% static '/static/dajax/jquery.dajax.core.js' %}"></script>

<!--[if lt IE 9]>
    <script src="{% static 'schools/assets/js/respond.js' %}"></script>
<![endif]-->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html> 