{% extends "base.html" %}

{% block content %}
<!--=== Content Part ===-->
{% load staticfiles %}

<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>金榜考研，助你圆梦</span>
            <p>2016考研烽烟再起，当竞争对手还在系鞋带，你应该先跑，金榜考研将助你一臂之力！</p>
            <p>最后的战斗 考研资讯 考研经验 专业课内部课件 核心纲要 高分笔记 导师题库 复试押题 复试辅导 高分突破必备！</p>
            <p>选择金榜考研的理由:</p>
        </div>
        <a href="http://kknet.taobao.com/shop/view_shop.htm?spm=a1z0k.7386009.1997989141.d4915209.q949pU&shop_id=69324846"  target="_blank" class="btn-buy hover-effect">进入淘宝店铺</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->
<div class="container">		
    <!-- Service Blocks -->
    <div class="row-fluid servive-block">
        <div class="span4">
            <h4>真假优势</h4>
            <p><i class="icon-info-sign"></i></p>
            <p>金榜考研提供的考研专业课资料都是由2015年考上研究生编写、整理而成的最新考研资料。现在网上买资料的很多，而且很大一部分资料都是假的，而金榜考研提供的考研专业课资料均为刚考上的研究生所编写并且提供售后服务，真实度如何相信大家自己可以辨别。</p>
        </div>
        <div class="span4">
            <h4>价格优势</h4>
            <p><i class="icon-lightbulb"></i></p>
            <p>金榜考研都是考研过来人，也知道大家的目的只有一个：考上研究生。专业课资料好，可以给你节省下相当的时间复习公共课，这个价格肯定对的起我们的资料和售后。</p>
        </div>
        <div class="span4">
            <h4>竞争优势</h4>
            <p><i class="icon-bell"></i></p>
            <p>专业课在考研中分数比例很大，是考研成败的关键，如果他人拥有这个资料和服务，而你没有，在水平相当的情况下，拥有此份资料和服务的考生获胜的几率肯定大。</p>
        </div>
    </div><!--/row-fluid-->
    <!-- //End Service Blokcs -->
	<!-- Recent Works -->
    <div class="headline"><h3>学校</h3></div>
    <div class="row-fluid margin-bottom-40">
        <ul id="list" class="bxslider recent-work">
        	{% for school in schools %}
        		<li>
                <a href="/school/?sid={{ school.id }}">
                	<em class="overflow-hidden"><img src="{% static school.pic %}" alt="" /></em>
                    <span>
                        <strong>{{ school.name }}</strong>
                        <i>{{ school.province}} {{ school.city }}</i>
                    </span>
                </a>
            </li>
        	{% endfor %}
        	<!---
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/2.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Happy New Year</strong>
                        <i>Anim pariatur cliche reprehenderit</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/9.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Award Winning Agency</strong>
                        <i>Responsive Bootstrap Template</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/4.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Wolf Moon Officia</strong>
                        <i>Pariatur prehe cliche reprehrit</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/5.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Food Truck Quinoa Nesciunt</strong>
                        <i>Craft labore wes anderson cred</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/6.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Happy New Year</strong>
                        <i>Anim pariatur cliche reprehenderit</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/7.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Award Winning Agency</strong>
                        <i>Responsive Bootstrap Template</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/8.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Wolf Moon Officia</strong>
                        <i>Pariatur prehe cliche reprehrit</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{% static 'schools/assets/img/carousel/9.jpg' %}" alt="" /></em>
                    <span>
                        <strong>Food Truck Quinoa Nesciunt</strong>
                        <i>Craft labore wes anderson cred</i>
                    </span>
                </a>
            </li>
            -->
        </ul>        
	</div><!--/row-->
	<!-- //End Recent Works -->

	<!-- Accardion and Posts -->
	<div class="row-fluid">
    	<div class="span7">
			<div class="headline"><h3>考研经验</h3></div>
            <!-- Accardion -->
			<div class="accordion acc-home" id="accordion2">
				{% for article in articles %}
					 <div class="accordion-group">
                  		<div class="accordion-heading">
                    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ forloop.counter }}">
                     			 {{ forloop.counter }}. {{ article.title }}
                    		</a>
                  		</div>
                  		<div id="collapse{{ forloop.counter }}" {% if forloop.counter == 1 %} class="accordion-body in collapse"  style="height: auto;" {% else %} class="accordion-body collapse" style="height: 0px;" {% endif %}>
                    		<div class="accordion-inner">
                      			<p><a href="/article?aid={{ article.id }}">{{ article.intro }}...</a></p>
                   			 </div>
                  		</div>
                	</div><!--/accordion-group-->
				{% endfor %}
            </div><!--/accardion-->
        </div><!--/span7-->
        
        <!-- Posts -->
        <div class="span5 posts">
            <div class="posts">
                <div class="headline"><h3>考研资料</h3></div>
                {% for produce in produces %}
                	<dl class="dl-horizontal">
                    	<dt><a href="/article?aid={{ produce.id }}"><img src="{% static produce.pic %}" alt="" /></a></dt>
                    	<dd>
                        	<p><a href="/article?aid={{ produce.id }}">{{ produce.title }}</a></p> 
                        	<p><a href="/article?aid={{ produce.id }}">{{ produce.intro }}...</a></p>
                    	</dd>
                	</dl>
                {% endfor %}
            </div>
        </div><!--/span5-->
    </div><!--/row-fluid-->
	<!-- //End Accardion and Posts-->
</div><!--/container-->		
<!-- End Content Part -->

{% endblock %}